BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignOperands: Align
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
FixNamespaceComments: 'false'
Language: Cpp
NamespaceIndentation: Inner
PointerAlignment: Right
SortIncludes: 'false'
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
UseTab: Never
AllowShortIfStatementsOnASingleLine: Never
BreakStringLiterals: false
ReflowComments: false